@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #121212;
  color: #FFFFFFDE;
  font-family: 'Open Sans', sans-serif;
}
